body{
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	font-size: 18px;
	line-height: 1.7;

	color: #363636;
	pading: 0;
	margin: 0;
}
article{
	width: 50em;
	margin: auto;
}
button{
	font-size: 80%;
	background-color: #D0D4D7;
	padding: .25em .5em;
	border-radius: 4px;
	border: none;
}
button:active{
	box-shadow: inset #546573 1px 1px 2px;
}
input[type=text]{
	width: 100%;
	padding: .5em;
	border-radius: 4px;
}

.hidden{
	display: none;
}

.error, .warning, .info{
	font-size: 80%;
	font-weight: bold;
	padding: .5em;
	border-radius: 4px;
}

.error{
	background-color: #F26464;
}

.warning{
	background-color: #F2D541;
}

.info{
	background-color: #14A697;
}